@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* global styling */

:root{
  --mainColor:rgb(255 154 36) ;
  --lightColor:#f1f1f1;
  --darkColor:#666;
  --soDarkColor:rgb(64,60,60)
}

.searchForm input[type="text"]{

}
@media (max-width:768px){
  .searchForm input[type="text"]{
    margin:20px 0 !important;
  }
}
.text-input{
  border:1px solid black;
  padding:20px !important;
  border-radius: 6px !important;
  font-size: 20px !important;
  color:var(--darkColor) !important;
  background-color: white !important;

}
.ant-form-item-required,.ant-form-item-label > label{
  font-size: 20px !important;
    color: #666 !important;
}
.text-input:focus{
  border: 1px solid black;
  outline: none !important;
}
.button-primary{
  width:100%;
  background-color: var(--mainColor) !important;
  color:white !important;
  font-size: 18px;
  padding: 10px !important;
  height: 40px !important;
  
}


input{
  padding:10px !important;
  border-radius: 2px !important;
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
  font-size: 18px !important;
  
}
input:focus{
  border:1px solid #888 !important
}

.link{
  text-decoration: none !important;
  margin:10px 0;
  color:black !important;
  font-size: 18px;

}

.page-title{
  font-size: 30px;
  font-weight: bold;
  color:black;
  
}

.ant-picker-input input{
  
  border:none !important;
}
.ant-picker{
  border-radius: 2px;
  border: 1px solid #777 !important;
  outline: none !important;
  box-shadow: none !important;
  max-height: 40px !important;
}
.ant-picker-input-active{
  box-shadow: none !important;
  outline: none !important;
}

.underline-link{
  font-size: 18px;
  margin:20px 10px;
  color: gray;
  cursor: pointer;
  text-decoration:underline;
}